/* 
Theme colors:
aqua: rgba(95, 209, 227, 1)
teal: rgba(17, 119, 136, 1)
coral: rgba(242, 137, 121, 1)
gray: rgba(61, 74, 76, 1)
white: rgb(255,255,255)
black: rgb( 0, 0, 0)
*/


html {
    background-color: rgb(255,255,255);
    width: 100%;
}

body {
    margin: 0% 0%;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: rgba(61, 74, 76, 1);
    /*background-color: #ffffff;*/

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    
}

@media only screen and (min-width:0px) and (max-width: 565px) {
   h1{ font-size: 2em !important; }
}

h2{
    font-size: 40px;
}

.header{   
    background-color: rgba(61, 74, 76, 1.0);
    /*padding: 1em 1em 2em 2em; */
    padding: 1em 1em 2.5em;
    margin: 0 !important;
    font-size: 20px;
}

.icon-bar{
    background-color:  rgb(255, 255, 255);
}
.footer{
}

li.mynav{
    display: inline;
}


a.interests{
    color: rgba(61, 74, 76, 1);
    target: blank;
}

a.portfolio{
    color: rgb(255, 255, 255) !important;
}

a.nav{
    color: rgb(255,255,255);
    text-decoration: none;
    width:180px;
}

a.nav:hover{
    background-color: rgba(95, 209, 227, 1) !important;
}


a.nav:active{
    background-color: rgba(95, 209, 227, 1) !important;
}

ul{
    list-style-type: none;
}

ul.nav{
    background-color: rgba(61, 74, 76, 1) !important; 
}

li.iconlist{
    display: inline;
    float:left;
    padding-left: 1em;
    margin: 0em .5em .25em .25em;
}

.overlay{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 8;
}

.home{
    position: relative;
    top: 30%;
    left: 10%;
    text-align: left;
    margin-top: 7em;
    padding-top:18%;
    padding-bottom:40%;
    
}
.container{
    position: relative;
    width:100%;
    height: auto;
    margin-left: 2.em;
    margin-right: 2em;
    z-index: 7;
    
}

.initial{
    margin-top: 3em;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    background-image: url(images/climbing.JPG);
    background-repeat: no-repeat;
    background-size: contain;
}
.gentlecover{
    margin-top: -7em;
    margin-bottom: -5em;
    padding-bottom: 10%;
    width:100%;
    height: auto;
    /*position: fixed;*/
    position:relative;
    background-color: rgb(255,255,255);
    opacity: .6;
}

.full{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
}

.box{
    height:auto;
    padding-left: 10%;
    padding-right: 5%;
    margin: 3% 10% 3%;

    line-height: 1.75em;
}

.bio{
    /*position: relative;
    top: -8em;*/
    background-color: rgba(242, 137, 121, 1);
    text-align: center;
    font-size-adjust: auto;
    font-weight: 400; 
    line-height: 1em;
   padding: 5% 5% 5% 5%;
}

.lower{
    padding-top: 2.5em;
}
.left{
    float:left;
}
.right{
    float:right;
}

.center{
    margin-left: 30%;
}

.name{
    font-size-adjust: auto;
    font-size: 80px;
    font-weight: 600;
    line-height: .75em;
}

.about{
    background-color: rgba(17, 119, 136, 1);
    margin-left:0;
    margin-right:0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top:2.5em;
    padding-bottom: 2em;
    color: rgb(255,255,255);
}

.in_about{
    padding-left: 15%;
    padding-right: 15%;
}

.portfolio{
    padding-top:2.5em;
}

.in_portfolio{
    background-color: rgba(61, 74, 76, 1);
    color: rgb(255,255,255);
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
 
}


.interests{
    background-color: rgba(242, 137, 121, .6);
    margin-left:0;
    margin-right:0;
    padding-left: 2.5em;
    padding-top:2.5em;
    padding-bottom: 2em;
    
}

.in_interest{
    background-color: rgba(255, 255,255, 1);
    margin-left: 15%;
    margin-right: 7.5%;
    padding-left: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgba(61, 74, 76, 1);
}

.contact{
      background-color: rgba(17, 119, 136, .75);
    margin-left:0;
    margin-right:0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top:2em;
    padding-bottom: 10em; 
    color: rgb(255, 255, 255);
}

h3.in_contact{
    font-size: 30px;
}
/*.watermark{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/


/* -------- Sprites ---------*/
.icon {
width:35px;
height:35px;
display:block;
text-indent:-9999px;
background-image:url(images/media_icons.png);
background-repeat:no-repeat;
    opacity: .7
}

.email {
background-position:-115px -612px;

}

.linkedin{
   background-position:-635px -664px; 
}

.github{
   background-position:-168px -455px;  
}

.text{
    /*  TODO  Find text icon */
}

.facebook{
    background-position: -115px -664px;
}

.pinterest{
    background-position: -531px -559px;
}


#backToTop{
  position:fixed;
  top:0;
  z-index:5;
  background:#999;
  display:block;
  padding:0.5em;
  text-align:center;
  width:100%;
}

