/* 
Theme colors:
aqua: rgba(95, 209, 227, 1)
teal: rgba(17, 119, 136, 1)
coral: rgba(242, 137, 121, 1)
gray: rgba(61, 74, 76, 1)
white: rgb(255,255,255)
black: rgb( 0, 0, 0)
*/


html {
    background-color: rgb(255,255,255);
    width: 100%;
}

body {
    margin: 0% 0%;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: rgba(61, 74, 76, 1);
    /*background-color: #ffffff;*/

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    
}

h2{
    font-size: 40px;
}

.header{   
    background-color: rgba(61, 74, 76, 1.0);
    /*padding: 1em 1em 2em 2em; */
    padding: 1em 1em 2.5em;
    margin: 0 !important;
    font-size: 20px;
}

.icon-bar{
    background-color:  rgb(255, 255, 255);
}


li.mynav{
    display: inline;
}


a.interests{
    color: rgba(61, 74, 76, 1);
    target: blank;
}

.portfolio a{
    color: rgb(255, 255, 255) !important;
    text-decoration: underline;
}

a.nav{
    color: rgb(255,255,255);
    text-decoration: none;
    width:180px;
}

a.nav:hover{
    background-color: rgba(95, 209, 227, 1) !important;
}


a.nav:active{
    background-color: rgba(95, 209, 227, 1) !important;
}

ul{
    list-style-type: none;
}

ul.nav{
    background-color: rgba(61, 74, 76, 1) !important; 
}

.iconlist{
    display: inline;
    float:left;
    padding-left: 1em;
    margin: 0em .5em .25em .25em;
}

.overlay{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 8;
}

.home{
    position: relative;
    top: 30%;
    left: 10%;
    text-align: left;
    margin-top: 7em;
    padding-top:18%;
    padding-bottom:40%;
    
}
.container{
    margin: auto;
    position: relative;
    width:100%;
    height: auto;
  /*  margin-left: 2em;
    margin-right: 2em; */
    z-index: 7;
    
}

.teal{
    background-color: rgba(17, 119, 136, .75) !important;
}

.gray{
    background-color: rgba(61, 74, 76, 1);
}
.footer{
    margin:auto;
    text-align: center;
    width: 100% !important;
    color: rgba(255, 255, 255, 1) !important;
    padding-top: 1em;
    padding-bottom: 2em;
}
.initial{
    margin-top: 3em;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    background-image: url(images/climbing.JPG);
    background-repeat: no-repeat;
    background-size: contain;
}
.gentlecover{
    margin-top: -7em;
    margin-bottom: -em;
    width:100%;
    height: auto;
    /*position: fixed;*/
    position:relative;
    background-color: rgb(255,255,255);
    opacity: .6;
}

.full{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
}

.box{
    height:auto;
    padding-left: 10%;
    padding-right: 5%;
    margin: 3% 10% 3%;
    line-height: 1.75em;
}

.bio{
    /*position: relative;
    top: -8em;*/
    background-color: rgba(242, 137, 121, 1);
    text-align: center;
    font-size-adjust: auto;
    font-weight: 400; 
    line-height: 1em;
   padding: 5% 5% 5% 5%;
    height: 100%;
}

.lower{
    padding-top: 2.5em;
}
.left{
    float:left;
}
.right{
    float:right;
}

.center{
    margin-left: 30%;
}

.name{
    font-size-adjust: auto;
    font-size: 80px;
    font-weight: 600;
    line-height: .75em;
}

.about{
    background-color: rgba(17, 119, 136, 1);
    margin-left:0;
    margin-right:0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top:2.5em;
    padding-bottom: 2em;
    color: rgb(255,255,255);
}

.in_about{
    padding-left: 15%;
    padding-right: 15%;
}

.portfolio{
    padding-top:2.5em;
    padding-left: 2.5em;
    
}

.in_portfolio{
    background-color: rgba(61, 74, 76, 1);
    color: rgb(255,255,255);
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 8%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.in_portfolio a{
    color: rgb(255, 255, 255);
}


.interests{
    background-color: rgba(242, 137, 121, .6);
    margin-left:0;
    margin-right:0;
    padding-left: 2.5em;
    padding-top:2.5em;
    padding-bottom: 2em;
    
}

.in_interest{
    background-color: rgba(255, 255,255, 1);
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 8%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    color: rgba(61, 74, 76, 1);
}

.interest_img {
   
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
}

.contact{
    margin:auto;
    position: relative;
    background-color: rgba(17, 119, 136, .75);
/*    padding-left: 2em;
    /*padding-right: 2em; */
    padding-top:2em;
    padding-bottom: 5em; 
    color: rgb(255, 255, 255);
    
}

.in_contact{
    font-size: 30px;
    display: inline;

}

.smallScreen_stack{
    
}
/*.iconbox{
    display: inline;
    width: 50px;
    height: 1em;
}*/
/*.watermark{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/


/*---------- Carousel Styling------*/
.slides_container{
    width: auto;
    height: 100%; 
}

.slides_container div{
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}

.slides_container img{
    height: 75%;
    text-align: center;
    margin:0 auto;
    border-style: outset;
    border-width: 7px 7px 7px 7px;
    border-color: rgba(61, 74, 76, 1);
}

.gradient-fix{
        margin-right: -2em !important;
}

.rotate90 {
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 transform: rotate(90deg);
 }

.teal{
    background-color: rgba(17, 119, 136, 1);
}


.carousel-control {
    &.left, &.right {
        background-image: none;
       .reset-filter(); // reset IE gradient filters
    }
}
/*------------- Media sizing------------*/
@media only screen and (min-width:0px) and (max-width: 834px) {
    .shrink_me{
        padding-left: 0em;
        font-size: 16px;
    }
}

@media only screen and (min-width:0px) and (max-width: 565px) {
   h1{ font-size: 2em !important; }

}

@media only screen and (min-width:0px) and (max-width: 565px) {
   .home{ padding-top:8em;}

}

@media only screen and (min-width:0px) and (max-width: 834px) {
      .hide_me{
        visibility: collapse;
        display: none;
    }

}
@media only screen and (min-width:0px) and (max-width: 834px) {
    .interest,
    .in_interest li{
        padding-left: -8em !important;
    }
}

@media only screen and (min-width:0px) and (max-width: 834px)
{
    .smallScreen_stack{
        padding-left: 1em;
        display:block !important;
        overflow: auto;
        white-space: nowrap;
    }
}
@media only screen and (min-width:0px) and (max-width: 512px)
{
    .iconlist{
        padding-left: 0em;
        display: inline !important;
    }
}

@media only screen and (min-width:845px)
{
    .contact{
        padding-left: 15%;
    }
}
/* -------- Sprites ---------*/
.icon {
width:35px;
height:35px;
display:block;
text-indent:-9999px;
background-image:url(images/media_icons.png);
background-repeat:no-repeat;
    opacity: .7
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 5px #669;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

.rectangleBtn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: auto;
    height: 30px;
    box-shadow: 3px 3px 5px #444;
    padding: 0 3px 0 3px;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255) !important;
    background-color: rgba(95, 209, 227, 1);
    font-size: 15px;
    font-weight: bold;
    line-height: 2em;
    border-radius: 3px;
}

.right{
    float: right;
    margin-right: 2em;
}

.email {
background-position:-118px -613px;

}

.linkedin{
   background-position:-637px -666px; 
}

.github{
   background-position:-170px -458px;  
}

.text{
    /*  TODO  Find text icon */
}

.facebook{
    background-position: -117px -666px;
}

.pinterest{
    background-position: -534px -561px;
}


#backToTop{
  position:fixed;
  top:0;
  z-index:5;
  background:#999;
  display:block;
  padding:0.5em;
  text-align:center;
  width:100%;
}

