/* 
Theme colors:
aqua: rgba(95, 209, 227, 1)
teal: rgba(17, 119, 136, 1)
coral: rgba(242, 137, 121, 1)
gray: rgba(61, 74, 76, 1)
white: rgb(255,255,255)
black: rgb( 0, 0, 0)
*/

html {
    background-color: rgba(17, 119, 136, 0.5);
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(61, 74, 76, 1);
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

navbar-wrapper{}

main {
        padding: 2em 2em 4em;
}

.header, .footer{   
    background-color: rgba(61, 74, 76, 1.0);
    /*padding: 1em 1em 2em 2em; */
    padding: 2em 1em 2em;
    margin: 0 !important;
    font-size: 20px;
}

ul{
    list-style-type: none;
}
ul.nav{
    
    margin: 0;
    padding: 0; 
    width: auto;
}

li.nav{
    display: inline;
    float: right;
    /*margin: 0em .5em 0em 1em;*/
    margin: 0em .5em .25em .25em;
}

li.contact{
    display: inline;
    float:left;
    padding-left: 1em;
    margin: 0em .5em .25em .25em;
}

.center{
    margin-left: 30%;
}

a {
    color: rgba(17, 119, 136, 1);
}

a.nav{
    color: rgb(255,255,255) !important;
    text-decoration: none;
    
}

a.nav:hover{
    background-color: rgba(95, 209, 227, 1);
    padding: 1em .25em .75em .25em;
}

a.nav:active{
    background-color: black: rgb( 0, 0, 0);
}
/*
li a {
    display:block;
    color: rgb(255,255,255);
    target: blank;
}
*/

h1, h2, h3, h4, h5, h6 {
    color: rgba(61, 74, 76, 1.0);
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}


/* NOT WORKING */


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

/*img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}*/
/* -------- Buttons ---------*/
.button{
    float: right;
    background-color: rgba(242, 137, 121, 1);
    width: 35px;
    height: auto;
}

/* -------- Sprites ---------*/
.icon {
width:35px;
height:35px;
display:block;
text-indent:-9999px;
background-image:url(images/media_icons.png);
background-repeat:no-repeat;
}

.email {
background-position:-115px -612px;

}

.linkedin{
   background-position:-635px -664px; 
}

.github{
   background-position:-168px -455px;  
}
*/

